<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Notifier</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/priceGrabber.js') }}"></script>
        <script src="{{ url_for('static', filename='js/priceGrabberHelper.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ChartJSImpl.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>    
    </head>
    <body>
        <div class="container">
            <div id="headerDiv" class="row">
                <div class="col-md-4">
                    <input id="autoCompleteInput" type="text" class="form-control" name="security" style="width: 100;"placeholder="Symbol or Security">
                    <div class="stockSearchContainer" style="width:400px;z-index: 1; position:absolute;margin-top: 2%; margin-left: -10%;">
                        <ul id="searchResultsList" style="list-style-type: none; position:absolute;"></ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 id="clientName"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" id="watchList">
                    <div class="btn-group-vertical" role="group" id = "userStockList" style=" position: absolute; margin-top:5%;"></div>
                </div>
                <div id="graphAndThresholdBtns" class="col-md-9">
                    <input type="text" id="buyThresholdTextBox" placeholder="Buy Threshold">
                    <a href="#" id="setBuyThreshold"class="btn btn-info">Set Buy Threshold</a>
                    <input type="text" id="sellThresholdTextBox" placeholder="Sell Threshold">
                    <a href="#" id="setSellThreshold" class="btn btn-info">Set Sell Threshold</a>
                    <div id="myChartDiv">
                        <canvas id="myChart" style="height: 400; width: 400;"></canvas>
                    </div>
                    <a href="#" id="1d" class="btn btn-light">1d</a>
                    <a href="#" id="1m" class="btn btn-light">1m</a>
                    <a href="#" id="3m" class="btn btn-light">3m</a>
                    <a href="#" id="1y" class="btn btn-light">1y</a>
                    <a href="#" id="5y" class="btn btn-light">5y</a>
                </div>
            </div>
        </div>
    </body>
</html>