<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Notifier</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
        <form action="login" method="POST">
            Email: <input type="text" class="formField" name="email"><br>
            Password: <input type="password" class="formField" name="password"><br>
            <input type="submit" value="Login" class="formSubmitButton">
        </form>
    </body>
</html>