<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Notifier</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
        <form action="login" method="POST">
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" name="email" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>