<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Notifier</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <form action="register" method="POST">
            First name: <input type="text" class="formField" name="firstName"><br>
            Last name: <input type="text" class="formField" name="lastName"><br>
            Email: <input type="text" class="formField" name="email"><br>
            Password: <input type="password" class="formField" name="password"><br>
            Phone: <input type="number" class="formField" name="phone"><br>
            <input type="submit" value="Register" class="formSubmitButton">
        </form> 
    </body>
</html>