<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stock Notifier</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link  rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% from "formhelpers.html" import render_field %}
        <form action="register" method="post">
            <!--Set form fields because wtforms is trash-->
            <input type="submit" value="Register" class="formSubmitButton">
        </form>
    </body>
</html>