body {
    background-color: #CBCBCB;
}

.stockResult_li {
    padding-bottom: 5px;
    width: 100%;
    background-color: gainsboro;
}
.stockResult_li:hover {
    background-color: whitesmoke;

}

#headerDiv {
    
}

.priceInputLabel {
    float:left;
}
.priceInputbox {
    float: left;
}
canvas {
    height: 500px;
    width: 400px
}